TEST_DB_NAME=test_db
DB_PASSWORD=example123
POSTGRES_USER=example
DB_NAME=main_db
DB_URL=postgresql://example:example123@main_db:5432/main_db
TEST_DB_URL=postgresql://example:example123@test_db:5432/test_db
SECRET_KEY=example_key23304163dswfd23bv123f7
REFRESH_SECRET_KEY=example_key8asdg5asd02df
ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=1440
REFRESH_ALGORITHM=HS256
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=example123